.boton{
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
}

.titulo{
    margin-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.inputNombre{
    border-radius: 5px;
    border-color: blueviolet;
}

body{
    background-image: url("./images/valo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.divPrincipal{
    display: grid;
    justify-content: right;
    margin-right: 200px;
}

#msj{
    display: block;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.formulario{
    margin-top: .5rem;
    display: flex;
}
#info{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-top: 2rem;
}