.btn{
    border-radius: 10px;
    border-color: rgb(231, 230, 217);
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.inputNombre{
    border-radius: 10px;
    border-color: blueviolet;
}

body{
    background-color: blanchedalmond;
}